{% extends "recipes/base.html" %}

{% block main %}
    <div class="w-50 mx-auto">
        {% if latest_recipes_list %}
            <ol>
                {% for recipe in latest_recipes_list %}
                    <li>
                        <a href="{% url 'recipes:detail' recipe.id %}">
                            {{ recipe.title|title }}: {{ recipe.description|capfirst }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>No recipes available.</p>
        {% endif %}
    </div>
{% endblock %}